.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.inner {
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #1e293b;
}

.button {
  margin-top: 16px;
  padding: 10px 20px;
  background-color: #4f46e5;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #4338ca;
}